{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='loading.css')}}">
{% endblock %}

{% block content %}
<form id="loading-form" method="post">
    <input id="loading-input1">
</form>
<script>
    if(window.innerWidth<=600){
        document.getElementById('loading-input1').value='A';
        document.getElementById('loading-input1').type='submit';
        
    }
    else{
        document.getElementById('loading-input1').src="{{url_for('static',filename='logo-avata-11.png')}}";
        document.getElementById('loading-input1').type='image';
    }
</script>
{% endblock %}
