{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
{% endblock %}

{% block content %}
<div id="login-div">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <form method="post" id="login-form">
        <div id="login-all">
            <p id="login-text1">Email</p>
            <input id="login-input1" name="login_email" type="text">
            <p id="login-text2">Password</p>
            <input id="login-input2" name="login_pass" type="password">
            <input id="login-input3" type="submit" name="login_sub" value="LOG IN">
        </div>
        <label id="login-text3">No account? <input id="login-input4" type="submit" name="login_sign" value="SIGN UP">here.</label>
        <img id="login-image1" src="{{url_for('static',filename='logo-avata-09.png')}}">
        <img id="login-image2" src="{{url_for('static',filename='logo-avata-09_copy.png')}}">
    </form>
</div>
{% endblock %}
