#add-form{
    display: none;
}

#show{
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:360px){
#show{
    display: none;
}

#add-form{
    display: block;
    width: 100%;
    height: 100%;
}

#add-info{
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 50%;
}

#add-div1{
    float: left;
    width: 30%;
    min-width: 120px;
    max-width: 140px;
}

#add-div2{
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

#add-image1{
    width: 100%;
    height: 100%;
}

#add-text1{
    position: absolute;
    bottom: 36%;
    font-family: 'Junge';
    font-style: normal;
    font-weight: normal;
    color:#F59022;
    font-size: max(1.8vw,20px);
    
}

#add-text2{
    position: absolute;
    top:50%;
    font-family: 'Junge';
    font-style: normal;
    font-weight: normal;
    color:#F59022;
    font-size: max(12px,1.1vw);
}

#add-menu{
    position: absolute;
    top: 9%;
    width: 40%;
    transform:translateY(-50%);
}

#add-div3{
    float: right;
    transform: translateY(2px);
}

#add-div4{
    float: right;
}

#add-div5{
    float: right;
    transform: translateY(-2px);
}

#add-button1{
    position: absolute;
    width: 46px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

#add-button2{
    position: absolute;
    width: 50px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

#add-button3{
    position: absolute;
    width: 52px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

}