{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='user.css')}}">
{% endblock %}

{% block content %}
<form id="user-form" method="post">
    <div id="user-div1">
        <div id="user-div2">
            <p id="user-text">Do you want to continue as an administrator or user?</p>
        </div>
    </div>
    <div id="user-div3">
        <input id="user-input1" type="submit" name="user_admin" value="Administrator">
        <input id="user-input2" type="submit" name="user_user" value="User">
    </div>
</form>
{% endblock %}
